.btn-flat
  display: inline-block
  margin: ($spacing.quarter + $spacing.micro) $spacing.half
  padding: $spacing.half
  min-width: $spacing.four
  color: $color.bbbb
  font-family: $font.family.base
  font-weight: 700
  font-size: $font.size.m
  text-align: center
  text-transform: uppercase
  text-decoration: none
  letter-spacing: normal
  line-height: $line.height.base
  vertical-align: middle
  white-space: nowrap
  cursor: pointer
  background-color: $color.l
  border: 0 none
  border-radius: $border.radius

  &:hover
    background-color: $color.lll
  &:active
    background-color: $color.llll
  &:active:focus
    outline: 0 none
  &:disabled
    color: $color.bb
    cursor: not-allowed
    pointer-events: none
    box-shadow: none
    text-shadow: none
