// Notes =======================================================================
// See Material Design "Lists": http://bit.ly/2pg6pNf

.menu-List,
.menu-ListRow,
.menu-ListColumn
  component-debug()

.menu-List
  padding: $spacing.half 0
  list-style: none

.menu-ListRow
  display: flex;
  align-items: center;
  margin: 0
  padding: $spacing.one

  &-two-line
    padding-top: $spacing.half + $spacing.quarter
    padding-bottom: $spacing.half + $spacing.quarter

  &-divider
    box-shadow: inset 0px (- $spacing.px) $color.b

.menu-ListColumn
  &-icon
    margin-right: $spacing.two
  &-price
    margin-left: auto

.menu-ListIcon
  // empty

.menu-ListTitle
  display: block

.menu-ListDescription
  color: $color.bbb
  font-size: $font.size.m
